:host {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* align-items: stretch; */
}

.container {
  display: flex;
  width: 80%;
  min-width: 400px;
  margin: auto;
  justify-content: space-between;
}

.container > div {
  /* width: 50%; */
  padding: 1.5rem;
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  position: relative;
}

.cart-item > div:first-of-type {
  /* width: 100%; */
  margin-right: 20px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  /* border-radius: 10px; */
  /* padding: 50px; */
  /* border: solid black 2px; */
  display: flex;

  /* position: relative; */
}

.cart-item img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.cart-item button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 200ms;
}

.cart-item:hover button {
  display: inline-block;
  opacity: 1;
}

h3 a {
  color: indigo;
  text-decoration: none;
}

.cart-item button:hover {
  color: white;
  background-color: tomato;
}

#cart {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* flex-grow: 2; */
}

#cart > button {
  background-color: lightskyblue;
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

#cart > button:hover {
  color: white;
  background-color: blueviolet;
}

#cart p,
#cart input {
  font-size: 1.1rem;
}

#cart input {
  padding: 4px 2px;
  border-radius: 4px;
  flex-grow: 2;
  border: none;
  outline: 1px #191919 solid;
  width: 100px;
}

form {
  max-width: 600px;
  padding-top: 44px;
}

form input {
  padding: 4px 8px;
  border-radius: 3px;
  flex-grow: 2;
  outline: none;
  border: 2px rgba(0, 0, 0, 0.1) solid;
  width: 100%;
  margin-bottom: 1.5rem;
}

form input:focus-within {
  border-color: rgba(0, 0, 0, 0.3);
}

form p {
  font-size: 0.8rem;
  opacity: 0.6;
}

form > button {
  background-color: lightskyblue;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

form > button[disabled] {
  opacity: 0.5;
  cursor: default;
}

form > button:not([disabled]):hover {
  background-color: blueviolet;
  color: white;
}

form .ng-touched.ng-invalid {
  border-color: rgba(255, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: stretch; */
  }
}
