:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  padding: 1rem 0;

  margin-bottom: 1rem;
}

:host *:not(i) {
  font-family: "Acme", sans-serif;
}

h1 {
  user-select: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

li a {
  display: inline-block;
  padding: 1.2rem 1.4rem;
  color: white;
  text-decoration: none;
}

#cartAnchor {
  /* background-color: darkcyan; */
  margin-left: 1rem;
}

.active a {
  /* color: cadetblue; */
  cursor: default;
  /* text-decoration: underline; */
  background-color: rgba(0, 0, 0, 0.3);
}

/* #cartAnchor.active {
  background-color: darkmagenta;
} */

#cartAnchor.active a {
  text-decoration: none;
}
